.j13 img {
    transform: translateX(57em) translateY(14em) rotate(180deg);
}

.j12 img {
    transform: translateX(57em) translateY(21em) rotate(359deg);
}

.j14 img {
    transform: translateX(103em) translateY(18em) rotate(270deg);
}

.j6 img {
    transform: translateX(91em) translateY(12em) rotate(270deg);
}

.j5 img {
    transform: translateX(91em) translateY(23em) rotate(270deg);
}

.j7 img {
    transform: translateX(80em) translateY(3em) rotate(270deg);
}

.j4 img {
    transform: translateX(80em) translateY(32em) rotate(270deg);
}

.j10 img {
    transform: translateX(73em) translateY(13em) rotate(270deg);
}

.j9 img {
    transform: translateX(73em) translateY(23em) rotate(270deg);
}

.j8 img {
    transform: translateX(64em) translateY(30em) rotate(270deg);
}

.j11 img {
    transform: translateX(64em) translateY(6em) rotate(270deg);
}

.j3 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(7.5em) translateY(-11.5em) rotate(180deg);
}

.j2 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(3em) translateY(-7.8em) rotate(180deg);
}

.j1 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(12em) translateY(-4em) rotate(180deg);
}

.j0 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(-0.4em) translateY(-0.4em) rotate(180deg);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .j7 img {
        transform: translateX(19em) translateY(25em) rotate(270deg);
    }
    
    .j11 img {
        transform: translateX(11em) translateY(25em) rotate(90deg);
    }
    
    .j12 img {
        transform: translateX(19em) translateY(41em) rotate(0deg);
    }
    
    .j13 img {
        transform: translateX(10em) translateY(41em) rotate(0deg);
    }
    
    .j10 img {
        transform: translateX(5em) translateY(41em) rotate(0deg);
    }
    
    .j14 img {
        transform: translateX(24em) translateY(41em) rotate(0deg);
    }
    
    .j6 img {
        transform: translateX(24em) translateY(35em) rotate(0deg);
    }
    
    .j8 img {
        transform: translateX(19em) translateY(35em) rotate(0deg);
    }
    
    .j9 img {
        transform: translateX(10em) translateY(35em) rotate(0deg);
    }
    
    .j4 img {
        transform: translateX(5em) translateY(35em) rotate(0deg);
    }
    
    .j5 img {
        transform: translateX(15em) translateY(46em) rotate(0deg);
    }
}

