.j17 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(7.5em) translateY(-3.8em) rotate(0deg);
}

.j16 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(12em) translateY(-0.1em) rotate(0deg);
}

.j18 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(16.2em) translateY(-7.5em) rotate(0deg);
}

.j19 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(20.8em) translateY(-11.4em) rotate(0deg);
}

.j25 img {
    transform: translateX(1em) translateY(18em) rotate(90deg);
}

.j26 img {
    transform: translateX(22em) translateY(3em) rotate(90deg);
}

.j24 img {
    transform: translateX(15em) translateY(12em) rotate(90deg);
}

.j23 img {
    transform: translateX(15em) translateY(25em) rotate(90deg);
}

.j22 img {
    transform: translateX(22em) translateY(34em) rotate(90deg);
}

.j21 img {
    transform: translateX(38em) translateY(7em) rotate(90deg);
}

.j15 img {
    transform: translateX(29em) translateY(13em) rotate(90deg);
}

.j20 img {
    transform: translateX(29em) translateY(24em) rotate(90deg);
}

.j28 img {
    transform: translateX(38em) translateY(32em) rotate(90deg);
}

.j27 img {
    transform: translateX(48em) translateY(21em) rotate(0deg);
}

.j29 img {
    transform: translateX(48em) translateY(14em) rotate(180deg);
}