.j13 img {
    transform: translateX(47em) translateY(14em) rotate(180deg);
}

.j12 img {
    transform: translateX(47em) translateY(21em) rotate(359deg);
}

.j14 img {
    transform: translateX(86em) translateY(18em) rotate(270deg);
}

.j6 img {
    transform: translateX(75em) translateY(12em) rotate(270deg);
}

.j5 img {
    transform: translateX(75em) translateY(23em) rotate(270deg);
}

.j7 img {
    transform: translateX(67em) translateY(3em) rotate(270deg);
}

.j4 img {
    transform: translateX(67em) translateY(32em) rotate(270deg);
}

.j10 img {
    transform: translateX(63em) translateY(13em) rotate(270deg);
}

.j9 img {
    transform: translateX(63em) translateY(23em) rotate(270deg);
}

.j8 img {
    transform: translateX(54em) translateY(30em) rotate(270deg);
}

.j11 img {
    transform: translateX(54em) translateY(6em) rotate(270deg);
}

.j3 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(72em) translateY(44.8em) rotate(180deg);
}

.j2 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(68em) translateY(44.8em) rotate(180deg);
}

.j1 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(64.5em) translateY(44.8em) rotate(180deg);
}

.j0 img {
    width: 4vw;
    height: 6vh;
    transform: translateX(61em) translateY(44.8em) rotate(180deg);
}

