body{
    background-image: url(../css/img/gazon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 1%;
    margin-right: 3.125em;
    margin-left: 3.125em;
}

nav{
    background-color: black;
}
li{
    color: white;
    list-style: none;
}

.terrain{
    position: absolute;
    width: 90%;
    height: 80%;
    margin: 0%;
    border: 0.3em solid white;
}


.but{
    position: absolute;
    top: 45%;
    left: 1.5625em;
    width: 1.25em;
    height: 12.5em;
    border: 0.3em solid white;
}

.surface{
    position: absolute;
    top: 40%;
    left: 3.125em;
    width: 6.25em;
    height: 18.75em;
    border: 0.3em solid white;
}

.zone-peno-g{
    position: absolute;
    top: 30%;
    left: 3.125em;
    width: 12.5em;
    height: 31.25em;
    border: 0.3em solid white;
}
.penalty-g{
    position: absolute;
    top: 55%;
    left: 12.1875em;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: white;
}

.demi-ovale-d{
    position: absolute;
    top: 50%;
    left: 13em;
    width: 5em;
    height: 7em;
    border-radius: 50%;
    border-right: solid white 0.3em;
    
}

.ligne-centre{
    position: absolute;
    left: 49%;
    width: 0.3125em;
    height: 50.3125em;
    background-color: white;
}
.point-engo{
    position: absolute;
    top: 52%;
    left: 58.25em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: white;
}
.rond-central{
    position: absolute;
    top: 48.5%;
    left: 56.2em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: white 0.3em solid;
}












{
}
