body{
    background-image: url(../css/img/gazon.jpg);
    background-repeat: repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    margin: 0%;
    margin-right: 1%;
    margin-left: 2.5%;
}

/*navigation*/
nav{
    background-color: black;
}
li{
    color: white;
    list-style: none;
}
/*Fin navigation*/


/*Début remplacent haut*/
.remplacent-h{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 1.5%;
}
.abri_h{
    border-radius: 25% 25% 5% 5%;
    width: 5vw;
    height: 5vh;
    background-color: white;
    margin-left: 12%;
    margin-right: 1%;
}

.Banc_h{
    border-radius: 10%;
    margin-bottom: 0.5%;
    width: 15vw;
    height: 5vh;
    border: 0.3em dotted white;
}
/*fin remplacent haut*/


/*contenant comprenant les deux partie du terrain*/
.terrain{
    position: absolute;
    width: 90%;
    height: 70%;
    margin: 0%;
    margin-left: 1.5%;
    border: 0.3em solid white;
}

/*Debut partie gauche du terrain*/
.zone-peno-g{
    position: absolute;
    top: 15%;
    left: -0.2%;
    width: 10vw;
    height: 50vh;
    border: 0.3em solid white;
}

.but1{
    position: absolute;
    top: 27%;
    left: -18.7%;
    width: 1.25vw;
    height: 20vh;
    border: 0.3em solid white;
}

.surface1{
    position: absolute;
    top: 18%;
    left: -1.8%;
    width: 5vw;
    height: 30vh;
    border: 0.3em solid white;
}

.penalty-g{
    position: absolute;
    top: 45%;
    left: 75%;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    background-color: white;
}

.demi-ovale-g{
    position: absolute;
    top: 37%;
    left: 84%;
    width: 3vw;
    height: 10vh;
    border-radius: 50%;
    border-right: solid white 0.3em;
}
.corner-hg{
    position: absolute;
    top: -0.6%;
    left: -0.3%;
    width: 1vw;
    height: 2vh;
    border-radius: 35% 35% 35% 35%;
    border-bottom: solid 0.3em white;
    border-right: solid 0.3em white;
}
.corner-bg{
    position: absolute;
    top: 97.1%;
    left: -0.3%;
    width: 1vw;
    height: 2vh;
    border-radius: 35% 35% 35% 35%;
    border-right: solid 0.3em white;
    border-top: solid 0.3em white;
}
.corner-hd{
    position: absolute;
    top: -0.5%;
    left: 98.8%;
    width: 1vw;
    height: 2vh;
    border-radius: 35% 35% 35% 35%;
    border-left: solid 0.3em white;
    border-bottom: solid 0.3em white;
}
.corner-bd{
    position: absolute;
    top: 97.2%;
    left: 98.8%;
    width: 1vw;
    height: 2vh;
    border-radius: 35% 35% 35% 35%;
    border-top: solid 0.3em white;
    border-left: solid 0.3em white;
}
/*Fin partie gauche terrain*/

/*Debut millieu de terrain*/

.ligne-centre{
    position: absolute;
    left: 50%;
    width: 0.3125em;
    height: 100%;
    background-color: white;
}

.point-engo{
    position: absolute;
    top: 46%;
    left: -200%;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: white;
}

.rond-central{
    position: absolute;
    top: 41%;
    left: -820%;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: white 0.3em solid;
}
/*Fin millieu terrain*/

/*Debut partie droite du terrain*/

.zone-peno-d{
    position: absolute;
    top: 15%;
    left: 88.5%;
    width: 10vw;
    height: 50vh;
    border: 0.3em solid white;
}

.but{
    position: absolute;
    top: 27%;
    left: 101%;
    width: 1.25vw;
    height: 20vh;
    border: 0.3em solid white;
}

.surface{
    position: absolute;
    top: 18%;
    left: 48%;
    width: 5vw;
    height: 30vh;
    border: 0.3em solid white;
}

.penalty-d{
    position: absolute;
    top: 45%;
    left: 18%;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    background-color: white;
}

.demi-ovale-d{
    position: absolute;
    top: 37%;
    left: -15.5%;
    width: 3vw;
    height: 10vh;
    border-radius: 50%;
    border-left: solid white 0.3em;
    
}
/*Fin partie droite terrain*/

/*Début remplacent haut*/
.remplacent-b{
    position: absolute;
    top: 89%;
    left: 64%;
    display: flex;
    flex-direction: row;

}
.abri_b{
    border-radius: 5% 5% 25% 25%;
    width: 5vw;
    height: 5vh;
    background-color: white;
    margin-left: 5%;
    margin-right: 1%;
    
}

.banc_b{
    border-radius: 10%;
    width: 15vw;
    height: 5vh;
    border: 0.3em dotted white;
}
/*fin remplacent haut*/

.exterieur img{
    position: absolute;
    width: 6vw;
    height: 8vh;
}
.domicile img{
    position: absolute;
    width: 6vw;
    height: 8vh;
}
.arbitre img{
    position: absolute;
    width: 6vw;
    height: 8vh; 
}
.bal img{
    width: 6vw;
    height: 8vh;
    z-index: 1;
    transform: translateX(43.6em) translateY(17.5em) rotate(0deg);
}

@media screen {
    
}